body {
    font-family:"Source Sans Pro";
    font-size:10px;
    line-height:2.7em;
    background: url('http://www.baselineme.com/27x') center top repeat;
}
.wrapper {
    width:960px;
    margin:0 auto;
}
.back {
    font-size:1.8em;
    margin-top:1.75em;
    height:3em;
}
.back a.right {
    float:right;
    margin-bottom:1.5em;
}

a {
    color:#005F80;
    &:hover {
        color:#0084B3;
    }
    &:visited {
        color:#335180;
    }
    &:active {
        color:#00394D;
    }
}

.header {
    width:960px;
    margin:6.3em auto 5.4em auto;
    #bigtext {
        color:#FF4D4D;
        font-size:9.6em;
        font-weight:900;
        line-height:1em;
        margin-bottom:0;
    }
    #smalltext {
        color:#888;
        font-weight:300;
        font-size:2.4em;
    }
}
.contents {
    width:960px;
    margin:0 auto;
    .contents-column {
        width:320px;
        float:left;
        margin-top:1.9em;
        margin-bottom:6.6em;
        h2 {
            color: #FF4D4D;
            font-weight:700;
            font-size:2.4em;
        }
        ul {
            list-style:none;
            margin:0 0 0 0;
            padding:0;
            padding-top:0.2em;
            font-size:1.8em;
        }
    }
}

#main {
    margin-top:7px;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom:1.1em;
    margin-top:-0.1em;
}

.text-wrapper {
    margin:0 auto;
    font-size:1.8em;
    width: 960px;
    color:#444;
    position:relative;
    
    p {
        color:#444;
        width:540px;
        position:relative;
        margin:0;
        margin-bottom:1.5em;
    }
}

.section {
    background-color: #FF4D4D;
    color:#fff;
    padding-top:0.5em;
    padding-bottom:0.5em;
    margin-top:1.5em;
    margin-bottom:1.5em;
    font-size:2.7em;
    line-height:1.2em;
    box-shadow:0 -3px 7px #EE3D3D inset;
    h1 {
        font-weight:900;
        margin:0;
        margin-bottom:0.5em;
    }
    .wrap {
        margin:0 auto;
        position:relative;
        width:960px;
    }
}
.small-caps {
    font-size:0.5em;
    letter-spacing:0.1em;
    text-transform:uppercase;
}

.example {
    background-color:#D5F4FF;
    color: #355560;
    width:540px;
    padding:20px;
    margin-left:-20px;
    margin-bottom:1.5em;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.15);
    h6 {
        font-size:0.7778em;
        text-transform:uppercase;
        i {
            font-size:1.2857em;
            margin-right:0.5em;
        }
    }
    p:last-child {
        margin-bottom:0;
    }
    &.intro {
        font-size:1.8em;
        width:420px;
        margin-right:40px;
        float:left;
    }
}
.block {
    background-color:rgb(245,245,245);
    width:540px;
    padding:20px;
    margin-left:-20px;
    margin-bottom:1.5em;
    h6 {
        font-size:0.7778em;
        text-transform:uppercase;
        i {
            font-size:1.2857em;
            margin-right:0.5em;
        }
    }
    p:last-child {
        margin-bottom:0;
    }
}
.indent {
    margin-left:2em;
    width:540px;
    margin-bottom:1.5em;
}

.button {
    background-color:#D5F4FF;
    text-align:center;
    display:inline-block;
    padding:5px 10px;
    font-size:0.7778em;
    text-transform:uppercase;
    font-weight:900;
    color:#355560;
    text-shadow:0 1px 0 #fff;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.15);
    cursor:pointer;
    margin-bottom:1.5em;
    margin-left:2em;
    &:hover{
        background-color:#fff;
    }
    &:active {
        background-color:#AAC3CC;
    }
}

.answer {
    margin-bottom:1.5em;
    margin-left:2em;
}

.side-note {
    font-size:0.778em;
    display:block;
    width:200px;
    padding:20px;
    background-color:#FFEFBF;
    position:absolute;
    right:140px;
    margin-top:-5em;
    box-shadow: 0 1px 2px 0 rgb(220,220,220);
    color:#BF9E3C;
    p {
        width:200px;
        color:#6B5619;
    }
        h6 {
        font-size:0.7778em;
        text-transform:uppercase;
        i {
            font-size:1.2857em;
            margin-right:0.5em;
        }
    }
    p:last-child {
        margin-bottom:0;
    }
}

img {
    margin-bottom:1.5em;
}

table#o1l8 {
    margin-bottom:1.5em;
    tr {
        height:27px;
        padding:0.75em 0 0.75em 0;
        vertical-align:middle;
        border-width:0 0 1px 0;
        border-style:solid;
        border-color:rgb(200,200,200);
        td:first-child {
            padding-right:1em;
        }
        td:nth-child(2) {
            padding-right:4em;
            padding-top:0.5em;
        }
        th {
            text-align:left;
        }
    }
}

.footer {
    background-color:#444;
    margin-top:2.7em;
    font-size:1.4em;
    padding-top:4em;
    padding-bottom:4em;
    .info {
        span.head {
            font-size:2.4em;
            font-weight:900;
        }
        text-align:center;
        color:#fff;
    }
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}