.header
    %h1#bigtext Avoin Matematiikka 1
    #smalltext Oppikirja lukion pitkän matematiikan 1. kurssille
.contents
    .clearfix
        .contents-column
            %h2 Luvut ja numerot
            %ul
                %a(href="luku1.html")
                    %li Numerot ja luvut
                %a(href="luku2.html")
                    %li Kokonaisluvut
                %a(href="luku3.html")    
                    %li Rationaaliluvut
                %a(href="luku4.html")
                    %li Potenssi
                %a(href="luku5.html")
                    %li Desimaaliluvut
                %a(href="luku6.html")
                    %li Juuret
                %a(href="luku7.html")
                    %li Murtopotenssi
                %a(href="luku8.html")
                    %li Reaaliluvut
        .contents-column
            %h2 Yhtälöt
            %ul
                %li Yhtälö
                %li Ensimmäisen asteen yhtälö
                %li Prosenttilaskenta
                %li Potenssiyhtälöt
                %li Kertaus
        .contents-column
            %h2 Funktiot
            %ul
                %li Funktio
                %li Koordinaatisto ja funktion kuvaaja
                %li Suoraan ja kääntäen verrannollisuus
                %li Potenssifunktio
                %li Eksponenttifunktio
                %li Kertaus
    .clearfix
        .example.intro
            %h6
                %i.icon-info-sign
                Tietoa
            :markdown
                Tämän kirjan sisältö on lähtöisin [Oppikirjamaratonin] (http://www.facebook.com/oppikirjamaraton) [Vapaa Matikka 1 -projektista] (https://github.com/linjaaho/oppikirjamaraton-maa1),
                joka on avoimen lisenssin
                projekti. Tämän sähköisen kirjan nimi on Avoin Matematiikka 1, ja se on julkaistu samalla lisenssillä kuin lähdeteos, eli
                [CC BY 3.0] (http://creativecommons.org/licenses/by/3.0/).
                
                Tällä hetkellä valmiita ovat ensimmäisen osan, Luvut ja numerot, luvut. Tarkoitus on tuoda Vapaan Matikan sisältö helposti luettavaan
                muotoon netissä, ja päivittää sitä mukaan kuin Vapaa Matikka päivittyy.
                
                Laitan lähiaikoina lähdetiedostot GitHubiin.
                
                Palaute nettisivua koskien on tervetullutta, ja sitä voi lähettää ennen GitHub repositoryn perustamista sähköpostilla [Tommi Kaikkoselle] (mailto:tommi@kaikkonendesign.fi).
        .example.intro
            %h6
                %i.icon-group
                Tekijät
            %p Tätä nettiversiota laatii:
            %ul
                %a(href="http://www.kaikkonendesign.fi")
                    %li Tommi Kaikkonen
            %p Lähdeteoksen Vapaa Matikka on laatinut:
            %ul
                %li Siiri Anttonen
                %li Janne Cederberg
                %li Lauri Hellsten
                %li Niko Ilomäki
                %li Olli-Pekka Kahilakoski
                %li Tero Keinänen
                %li Vesa Linja-aho
                %li Ossi Mauno
                %li Joonas Mäkinen
                %li Matti Pajunen
                %li Pyry Pakkanen
                %li Pekka Peura
                %li Annika Piiroinen
                %li Kaisa Pohjonen
                %li Antti Rasila
                %li Johanna Rämö
                %li Juha Sointu
                %li Tommi Sottinen
                %li Jarno Talponen
                %li Topi Talvitie
                %li Sampo Tiensuu
                %li Ville Tilvis
                



