.section
    .wrap
        .small-caps
            Luku 8
        %h1 Reaaliluvut
.text-wrapper
    :markdown
        Joskus yksinkertaisen geometrisen ongelman ratkaisu voi olla luku, jota
        ei voida esittää rationaalilukuna. Siksi on tarpeen tutkia lukuja, jotka
        eivät ole rationaalilukuja. Tällaisia lukuja kutsutaan
        *irrationaaliluvuiksi*.
        
        Esimerkiksi $\sqrt{2}$ on irrationaaliluku, mikä todistetaan luvun
        lopussa. Toinen tuttu peruskoulusta tuttu irrationaaliluku on ympyrän
        kehän pituuden suhde halkaisijaan: $\pi$.
        
    %img(src="images/osa1luku8_1.png")
    :markdown  
        Rationaalilukuja ja irrationaalilukuja kutsutaan yhdessä
        *reaaliluvuiksi*. Reaalilukujen joukkoja merkitään $\mathbb{R}$.
        
        Rationaaliluvuilla voidaan approksimoida irrationaalilukuja
        mielivaltaisen tarkasti. Esimerkiksi $\pi$ voidaan kirjoittaa halutusta
        tarkkuudesta riippuen seuraaviin muotoihin:
        $$3, \quad 3,1, \quad 3,14, \quad 3,145, \quad 3,1459, \quad 3,14592, \quad 3,145926, \ldots$$
        
        Rationaaliluvut eivät ns. täytä koko lukusuoraa, mutta niitä on niin
        tiheästi, että jokaista irrationaaliluku voidaan approksimoida
        mielivaltaisen tarkasti jollain rationaaliluvulla.
    
    .block
        %h6
            %i.icon-exclamation-sign
            Puuttuva kuva
        :markdown
            kuva tähän lukusuorasta, jolla on neliöjuuri 2 ja sen vieressä
            rationaalilukuja yhä lähempänä ja lähempänä - ne approksimoivat
            neliöjuuri kakkosta
    :markdown
        Vaikka menisimme kuinka lähelle jotain irrationaalilukua lukusuoralla,
        välistä löytyisi vielä jokin rationaaliluku.
    
    .block
        :markdown
            Kaikki rationaalilukuja koskevat laskusäännöt pätevät myös
            reaaliluvuille.
    :markdown
        Tämän perusteleminen on valitettavasti liian pitkällinen asia lukion
        ykköskurssille.

        Siinä missä rationaalilukujen desimaaliesitykset ovat päättyviä tai
        jaksollisia, ovat irrationaalilukujen desimaaliesitykset päättymättömiä
        ja jaksottomia.
        
        Luvun $$\sqrt{2} \approx 1,414213562373095048801688724209\ldots$$
        desimaaliesityksessä on kyllä toistuvua kohtia, esimerkiksi numeropari
        $88$ esiintyy kahdesti. Siinä ei kuitenkaan ole mitään jaksoa, jonka
        jälkeen luvut alkaisivat toistua, toisin kuin esimerkiksi luvussa
        $3,80612312312312\ldots$.
        
        Reaalilukujen ominaisuuksista kerrotaan lisää liitteessä aksioomat.
        
        Reaalilukujen myötä kaikki lukiokursseissa esiintyvät lukujoukot on
        esitelty. Ne on lueteltu seuraavassa:

    %table#o1l8
        %tr
            %th Joukko
            %th Symboli
            %th Mitä ne ovat
        %tr
            %td Luonnolliset luvut
            %td $\mathbb{N}$
            %td Luvut 0, 1, 2, 3, $\ldots$
        %tr
            %td Kokonaisluvut
            %td $\mathbb{Z}$
            %td Luvut $\ldots$ -2, -1, 0, 1, 2 $\ldots$
        %tr
            %td Rationaaliluvut
            %td $\mathbb{Q}$
            %td Luvut, jotka voidaan esittää murtolukuina
        %tr
            %td Reaaliluvut
            %td $\mathbb{R}$
            %td Kaikki lukusuoran luvut
            
    %img(src="images/osa1luku8_2.png")
        
    :markdown
        Lukualueita voidaan laajentaa lisää vielä tästäkin, esimerkiksi
        *imaginääriluvut* ovat lukuja, jotka eivät ole reaalilukuja, vaan
        lukuja, joita ei voi edes sijoittaa lukusuoralle. Reaalilukuja ja
        imaginäärilukuja kutsutaan yhdessä *kompleksiluvuiksi*.
        
        Kompleksilukuja tarvitaan mm. insinöörialoilla yliopistoissa ja
        ammattikorkeakouluissa. Esimerkiksi vaihtosähköpiirien analyysissä,
        signaalinkäsittelyssä ja säätötekniikassa käytetään runsaasti
        kompleksilukuja.
