.section
    .wrap
        .small-caps
            Luku 5
        %h1 Desimaaliluvut
.text-wrapper
    :markdown
        *Desimaaliluvut* on *kymmenjärjestelmään* perustava tapa merkitä
        rationaalilukuja. Niillä voi merkitä myös irrationaalilukujen
        *likiarvoja*.
        
        $123,456$ on esimerkki desimaaliluvusta.
        
        -   $123$ on sen *kokonaisosa*.
        
        -   Kokonaisluku erotetaan loppuosasta *desimaalierottimella*, joka on
            suomessa pilkku (,). sijoita tämän alla oleva kommentti footnoteen
        
        -   Osaa $456$ kutsutaan desimaaliluvun *loppuosaksi*.
        
        
    .example
        %h6
            %i.icon-hand-right
            Esimerkki
        :markdown
            Esimerkkinä annettu desimaaliluku tulkitaan seuraavasti:
            
            $$123,456 = 1 \cdot 10^2 + 2 \cdot 10^1 + 3 \cdot 10^0 + 4 \cdot 10^{-1} + 5 \cdot 10^{-2} + 6 \cdot 10^{-3}$$
            
            Tähän kuva siitä, kuinka desimaaliluvun numerot vastaavat kymmenen
            potensseja
    :markdown
        Kymmenjärjestelmä saa nimensä siitä, että jokainen luvussa esiintyvä
        numero kertoo sen paikkaa vastaavien kymmenen potenssien määrän.
        
        Desimaaliluvut voidaan muuttaa murtoluvuiksi laskemalla ne auki
        ylläolevan tavan mukaan.
        
        $21,37 = 2 \cdot 10^1 + 1 \cdot 10^0 + 3 \cdot 10^{-1} + 7 \cdot 10^{-2}$
        
        $= 2 \cdot 10 + 1 \cdot 1 + 3 \cdot \frac{1}{10} + 7 \cdot \frac{1}{100} = 21 + \frac{3}{10} + \frac{7}{100}$
        
        $= \frac{21 \cdot 100}{100} + \frac{3 \cdot 10}{10 \cdot 10} + \frac{7}{100} = \frac{21 \cdot 100 + 3 \cdot 10 + 7}{100} = \frac{2100+30+7}{100} = \frac{2137}{100}$
        
        Toisaalta päästään paljon helpommalla, kun huomataan, että voidaan vain
        kertoa ja jakaa koko luku "niin monella kympillä, kuin on numeroita
        desimaalipilkun jälkeen". Täsmällisemmin sanottuna $10^n$:llä, jossa $n$
        on pilkun jälkeen tulevien numeroiden määrä.
        
        $21,47 = 21,47 \cdot 1 = 21,47 \cdot \frac{10^2}{10^2} = \frac{21,47 \cdot 100}{100} = \frac{2147}{100}$
        
        $0,007 = 0,007 \cdot 1 = 0,007 \cdot \frac{10^3}{10^3} = \frac{0,007 \cdot 1000}{1000} = \frac{7}{1000}$
        
        Menetelmän toimivuus kaikkien desimaalilukujen tapauksessa voidaan
        todistaa tarkastelemalla desimaaliluvun määritelmää, mutta jätetään
        tässä tekemättä.
        
        
    .block
        :markdown
            Tässä on joitain murtolukujen desimaaliesityksiä, jotka on hyvä osata
            
            -   $ \frac{1}{10} = 0,1$
            
            -   $ \frac{1}{100} = 0,01$
            
            -   $ \frac{1}{2} = 0,5$
            
            -   $ \frac{1}{4} = 0,25$
            
            -   $ \frac{3}{4} = 0,75$
    
    :markdown
        Tehtäviä
        --------
        
        **52.** Laske ja totea edellä olevien murtolukujen desimaaliesitysten
        paikkansapitävyys.
        
        **53.** Muuta murtoluvuksi.
        
        a)  $43{,}532$
        
        b)  $5{,}031$
        
        c)  $0{,}23$
        
        d)  $0{,}3002$
        
        e)  $0{,}101$
        
        <div class="button showanswer">Näytä vastaus</div>
        
        <div class="answer">Vastaus: a)  $ \frac{43532}{1000}$
        
        b)  $ \frac{5031}{1000}$
        
        c)  $ \frac{23}{100}$
        
        d)  $ \frac{3002}{1000}$
        
        e)  $ \frac{101}{1000}$</div>
        
        **54.** Muuta murtoluvuksi ja sievennä.
        
        a)  $0{,}01$
        
        b)  $0{,}0245$
        
        c)  $0{,}004$
        
        d)  $0{,}001004$
        
        <div class="button showanswer">Näytä vastaus</div>
        
        <div class="answer">Vastaus: a)  $ \frac{1}{100}$
        
        b)  $ \frac{49}{200}$
        
        c)  $ \frac{1}{250}$
        
        d)  $ \frac{251}{250\ 000}$</div>
        
    .block
        :markdown
            Joissain yhteyksissä käytetään muitakin *lukujärjestelmiä* kuin
            kymmenjärjestelmää. Esimerkiksi tietokoneet käyttävät
            kaksikantajärjestelmää eli *binäärijärjestelmää*. Binäärijärjestelmässä
            jokainen luvun numero kertoo sen paikkaa vastaavan kakkosen potenssien
            määrän kymmenen potenssien sijasta.
            
            Binäärijärjestelmässä esitetty luku merkitään yleensä kirjoittamalla
            pieni kakkonen luvun jälkeen, esim. $10,01_2$.
            
            $10,01_2 = 1 \cdot 2^1 + 0 \cdot 2^0 + 0 \cdot 2^{-1} + 1 \cdot 2^{-2} = 2,25_{10}$
    
    :markdown
        Tehtäviä
        --------
        
        **57.** Muunna seuraavat binääriluvut kymmenjärjestelmään.
        
        a)  $101,0_2$
        
        b)  $1,00101_2$
        
        c)  $100101,1101_2$
        
        <div class="button showanswer">Näytä vastaus</div>
        
        <div class="answer">Vastaus: a)  $5,0_{10}$
        
        b)  $1,15625_{10}$
        
        c)  $37.8125_{10}$</div>
        
        **58.** Muunna seuraavat luvut binäärijärjestelmään.
        
        a)  $7,0_{10}$
        
        b)  $2,5_{10}$
        
        c)  $11,1875_{10}$
        
        <div class="button showanswer">Näytä vastaus</div>
        
        <div class="answer">Vastaus: a)  $111,0_2$
        
        b)  $10,1_2$
        
        c)  $1011,0011_2$</div>
