#main
    .wrapper.back
        %a(href="index.html")
            &#171; Takaisin pääsivulle
    = partial "luku1"
    .wrapper.back
        %a.right(href="luku2.html")
            Seuraava: Kokonaisluvut