#main
    .wrapper.back
        %a(href="index.html")
            &#171; Takaisin pääsivulle
    = partial "luku6"
    .wrapper.back
        %a(href="luku5.html")
            Edellinen: Desimaaliluvut
        %a.right(href="luku7.html")
            Seuraava: Murtopotenssi