#main
    .wrapper.back
        %a(href="index.html")
            &#171; Takaisin pääsivulle
    = partial "luku14"
    .wrapper.back
        %a(href="luku13.html")
            Edellinen: Prosenttilaskenta