#main
    .wrapper.back
        %a(href="index.html")
            &#171; Takaisin pääsivulle
    = partial "luku5"
    .wrapper.back
        %a(href="luku4.html")
            Edellinen: Potenssi
        %a.right(href="luku6.html")
            Seuraava: Juuret