#main
    .wrapper.back
        %a(href="index.html")
            &#171; Takaisin pääsivulle
    = partial "luku2"
    .wrapper.back
        %a(href="luku1.html")
            Edellinen: Numerot ja luvut
        %a.right(href="luku3.html")
            Seuraava: Rationaaliluvut