#main
    .wrapper.back
        %a(href="index.html")
            &#171; Takaisin pääsivulle
    = partial "luku13"
    .wrapper.back
        %a(href="luku12.html")
            Edellinen: Suoraan ja kääntäen verrannollisuus
        %a.right(href="luku14.html")
            Seuraava: Potenssiyhtälöt