#main
    .wrapper.back
        %a(href="index.html")
            &#171; Takaisin pääsivulle
    = partial "luku11"
    .wrapper.back
        %a(href="luku10.html")
            Edellinen: Yhtälö
        %a.right(href="luku12.html")
            Seuraava: Prosenttilaskenta