#main
    .wrapper.back
        %a(href="index.html")
            &#171; Takaisin pääsivulle
    = partial "luku7"
    .wrapper.back
        %a(href="luku6.html")
            Edellinen: Juuret
        %a.right(href="luku8.html")
            Seuraava: Reaaliluvut