#main
    .wrapper.back
        %a(href="index.html")
            &#171; Takaisin pääsivulle
    = partial "luku3"
    .wrapper.back
        %a(href="luku2.html")
            Edellinen: Kokonaisluvut
        %a.right(href="luku4.html")
            Seuraava: Potenssi