#main
    .wrapper.back
        %a(href="index.html")
            &#171; Takaisin pääsivulle
    = partial "luku10"
    .wrapper.back
        %a(href="luku8.html")
            Edellinen: Reaaliluvut
        %a.right(href="luku11.html")
            Seuraava: Ensimmäisen asteen yhtälö