#main
    .wrapper.back
        %a(href="index.html")
            &#171; Takaisin pääsivulle
    = partial "luku12"
    .wrapper.back
        %a(href="luku11.html")
            Edellinen: Ensimmäisen asteen yhtälö
        %a.right(href="luku13.html")
            Seuraava: Potenssiyhtälöt