#main
    .wrapper.back
        %a(href="index.html")
            &#171; Takaisin pääsivulle
    = partial "luku4"
    .wrapper.back
        %a(href="luku3.html")
            Edellinen: Rationaaliluvut
        %a.right(href="luku5.html")
            Seuraava: Desimaaliluvut
